/* ==================== */
/* UTILITIES            */
/* ==================== */
.container {
  max-width: min(70rem, 100% - 30px);
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  padding: 0.25em;
  border: 0;
  border: 2px solid transparent;
  background-color: transparent;
}

/* .btnPrimary {
  border-color: var(--clr-secondary-300);
  padding: 0.45em 1.5em;
  font-weight: var(--fw-bold);
  position: relative;
  color: var(--clr-secondary-300);
}

.btnPrimary::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-bottom: 2px solid var(--clr-secondary-300);
  border-right: 2px solid var(--clr-secondary-300);
} */
